# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Paranoid-OJ\OJ-Topic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
